SPEECHMATICS_API=replace-with-speechmatics-api-key
SPEECHMATICS_WSS=wss://eu2.rt.speechmatics.com/v2/

OPENAI_API=replace-with-openai-api-key
OPENAI_ORG_ID=

ENABLE_SUGGEST=1
SUGGEST_MODEL=gpt-4.1-nano
SUGGEST_MAX_HISTORY=10
SUGGEST_TIMEOUT=6.0
SUGGEST_TEMPERATURE=0.2

OLLAMA_HOST=http://127.0.0.1:11434

PHRASES_ENABLE=1
PHRASES_MIN=6
PHRASES_MAX=10
PHRASES_MODEL=gpt-4.1-nano
PHRASES_IN_CONTEXT=1
PHRASE_MAX_WORDS=12

SAMPLE_RATE=16000
MAX_DELAY=0.7
MAX_DELAY_MODE=fixed
EOU_SILENCE=0.6
OPERATING_POINT=standard

CAPTURE_S1=1
CAPTURE_S2=1
ENABLE_TRANSLATION=0
TRANSLATE_TO=ru
DEBUG=0
